/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: rgb(203 166 247 / 95%);
  margin-right: 7px;
}

body {
  color: rgb(245 194 231 / 90%);
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  background: linear-gradient(rgb(30 30 46 /90%), rgb(24 24 37 / 85%));
  border-radius: 17px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery {
  margin-right: 15px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(203 166 247 / 5%);
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(245 194 231 / 90%);
  border: none;
  border-radius: 12px;
  cursor: pointer;

  &.displayed {
    background: rgb(203 166 247 / 15%);
  }

  &.focused,
  &:hover {
    background: rgb(180 190, 254 / 50%);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: rgb(203 166 247 / 15%);
  color: rgb(245 194 231 / 90%);
  border-radius: 12px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}


.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
